@font-face {
	font-family: 'Laachir';
	src: url(Fonts/LaachirDeeper-Light.ttf) format(truetype);
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Laachir';
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: #0b0423;
	display: flex;
	align-items: center;
	justify-content: center;
}

#left, #right {
	width: 300px;
	min-height: 400px;
	margin: 20px;
	border: 2px dashed #fff;
}